body{
    background-color: coral;
    text-align: center;
    font-weight: bold;
}

textarea{
   text-align: center; 
}

.write-up{
    background-color:brown;
    padding: 10% 15%;
    margin: 20% 25%;
    text-align: center;
    border-radius: 100px;
    }